/* Fluid layout added by dev */

/* p {
    display: inline;
    background-color: #dbbf1d;
} */

.searchItem {

    display: inline;
}

.search {

    justify-self: end;
    position: relative;
    right: 30px;

    background-color: #fff;
}

.searchInput {
    /* position: absolute; */
    /* top: 100px; */
    left: 0px;
    border-radius: 10px;
}